<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763951039289-rbrsngacgde56i7j8o4j5r5vopiq6ka5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763951039289-rbrsngacgde56i7j8o4j5r5vopiq6ka5</string>
	<key>API_KEY</key>
	<string>AIzaSyB_UyEFqiUXagUOMHNMmRzBy8dXRHRME7o</string>
	<key>GCM_SENDER_ID</key>
	<string>763951039289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginsampleapp</string>
	<key>PROJECT_ID</key>
	<string>flutterappdemo-4a648</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterappdemo-4a648.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763951039289:ios:8ee13375f6e871ac4b1ee8</string>
</dict>
</plist>